.maintable{
    overflow:hidden;
}
.student-table tr, .student-table p{
    height:20px;
    max-height:20px;
}
td {
    position:relative;
}
td:first-child {
    width: 20px;
}
td p{
    font-size:12px;
}
.firstname{
    width: 105px;
}
.lastname{
    width: 120px;
}
.username{
    width: 180px;
}
.email{
    width: 180px;
}
.adminemail{
    width: 180px;
}
.password{
    width: 100px;
}
.lang{
    width:70px;
}
.dob{
    width:130px;
}
.firstname p,.firstname input, .fnhead{
    width:100px;
    max-width:100px;
}
.lastname p,.lastname input, .lnhead{
    width:115px;
    max-width:115px;
}
.email p,.email input, .uehead{
    width:175px;
    max-width:175px;
}
.adminemail p,.adminemail input, .aehead{
    width:175px;
    max-width:175px;
}
.username p,.username input, .unhead{
    width:175px;
    max-width:175px;
}
.password p,.password input, .pwhead{
    width:80px;
    max-width:80px;
}
.lang p,.lang input, .lnhead{
    width:125px;
    max-width:125px;
}
.dob p,.dob input, .db{
    width:125px;
    max-width:125px;
}
.firstname input{
    padding-bottom:0;
}
.lastname input{
    padding-bottom:0;
}
.email input{
    padding-bottom:0;
}
.adminemail input{
    padding-bottom:0;
}
.username input{
    padding-bottom:0;
}
.password input{
    padding-bottom:0;
}
.lang input{
    padding-bottom:0;
}
p.editable{
    overflow: hidden;
}
.confirm-email {
    position:absolute;
    right: -30px;
}
.confirm-pass {
    position:absolute;
    right: -65px;
}