.panel-group .panel-heading {
    background-color: #1E2B41;
    color:white;	
}
a:hover {
text-decoration:none;	
}
.container {
    width: 95%;
}	
body{
	background-color:white;
	font-family: 'Open Sans', sans-serif;  
	font-size:20px;
}
#wrapper{
	max-width:550px;
	height:auto;
	border:2px solid white;
	background-color:white;
	margin:100px auto;
	border-radius:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
	background-color:#1E2B41;
	border:3px solid #1E2B41;
	color:white;
	font-size:25px;
	font-weight:bold;
	cursor:pointer;
	border-radius:3px;
	height:50px;
	width:90%;
}

button:hover{
	background-color:#182234;
}

 img{
	 width:90%;
	 border-radius:3px;
 }