
@media (min-width: 1200px){
  .span3 {
      width: 270px;
  }
}
@media (min-width: 1200px) {
  [class*="span"] {
      float: left;
      min-height: 1px;
      margin-left: 30px;
  }
}
.span3 {
    width: 220px;
}
[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}
li {
  padding: 5px 0;
}
li label {
  cursor: pointer;  
}