table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

#homePage, #resultsPage{
	margin-left: 20px;
}


#wrapper{
border:1px solid transparent;
width:1300px;
height:800px;
margin:auto;
}
article{

}